body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin:0;
    background-color: #A1AEB1;
}
h2{
    font-weight:normal;
    text-align:center;
    color:#ff99ff;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
}